@model WebApplication4.Entities.Cviky

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cviky</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DruhCviku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DruhCviku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasCviku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasCviku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DenCviku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DenCviku)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CvikyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
